.game {    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    // i'll have the game div encapsulate everything and provide the ancestor for absolute positioning maybe
    position: relative;
    width: 336px; // for TileSize = 12px, this seems like an ugly way to do it but it allows flexbox to center it
    height: 432px; // also for TileSize = 12px;

    border-style:ridge;
    border-width: 0.5em;
    border-color: lightslategray;
}

a {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blueviolet;
    margin: 2em;
}